name: stock_data_downloader

on:
  push:
    paths:
      - 'stock_data_downloader.py'
      - '.github/workflows/stock_data_downloader.yml'
  schedule:
    - cron: '13 7 * * *' # 每天北京时间 15:13 运行
  workflow_dispatch:

jobs:
  download-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # This is important for pushing changes back to the repo
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: pip install akshare pandas
      - name: Run Downloader
        run: python stock_data_downloader.py

      - name: Git Auto Commit
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "feat(stock): update daily stock data from stock_data_downloader.py"
          # Only commit if there are changes in stock_data directory
          file_pattern: 'stock_data/*.csv'
          branch: ${{ github.ref_name }} # Push to the current branch
